body{
    font-family: Verdana,Arial, Helvetica,sans-serif; 
    justify-content: center;
    padding: 100px;
    align-items: center;
    text-align: center;
    font-weight: bolder;
   /*background-color: pi;*/
}

main h1{
    justify-content: center;
    padding-right: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.book-img{
    width: 80px;
    height: 80px;
}

.first-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 160px;

}
/* a{
    text-decoration: none;
    color: white;
 } */

#first-button{
    width: 100px;
    height: 50px;
    margin-left: 200px;
}

input{
    width: 350px;
    height: 40px;
    border-radius: 40px;
    background-color: gray;
}

.text-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



label{
    font-family: serif;
    font-size: 50px;
    font-weight: 80px;
    align-items: center;
    padding-left: 20px;
    border-radius: 15px;

}

.text-content #search{
    width: 40px;
    height: 40px;
    border-radius: 80px;
    padding-left: 10%;
}

.btn-circle.btn-xl{
    width: 50px;
    height: 50px;
    padding: 8px 12px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.container h1{
    font-size: 30px;

}

#second-button {
   
    width: 180px;
    height: 60px;
    font-size: 30px;
    margin-left: 50px;
}

.details {
    padding: 2px 2px;
    color: black;
    text-shadow: 1px 1px #bbb;
    text-align: center;
  }
  #card-container
  {
    display: flex;
    justify-content: center;
    padding-top: 10px 10px;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    }

  .card{
    height: 800px;
    width: 600px;
    transition: 2s;
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.75);
   text-align: center;
   padding: 2px 2px;
  color: black;
  text-shadow: 1px 1px #bbb;
  text-align: center;
  display: flex;
justify-content: center;
padding-top: 10px 10px;
flex-wrap: wrap;
align-items: center;
cursor: pointer;


}

.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    margin-bottom: 0;
}